#bannerwrap {
    width: 100%;
    height: 482px;
    position: relative;
    .bannerbg {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        img {
            // display: block;
            height: 482px;
            width: auto;
        }
    }
    .bannerPo {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        .bannerinner {
            width: $innerwidth;
            height: 100%;
            margin: 0 auto;
            display: flex;
        }
    }
}

.bannerinner {
    .goodssheet {
        width: 190px;
        height: 100%;
        background-color: #252221;
        li {
            width: 177px;
            height: 32px;
            padding: 0 8px 0;
            display: flex;
            align-items: center;
            &:hover {
                background-color: #fff;
            }
            &:hover a {
                color: #252221;
            }
            a {
                color: white;
                font-size: 13px;
                font-weight: 400;
                &:hover {
                    color: $commoncolor;
                }
            }
            em {
                width: 1px;
                height: 12px;
                background-color: #d8d8d8;
                opacity: 0.4;
                margin: 0 5px;
            }
        }
    }
    .bannermid {
        width: 830px;
        height: 100%;
        position: relative;
        overflow: hidden;
        .bannerNav {
            position: absolute;
            left: 50%;
            top: 323px;
            transform: translate(-50%, 0);
            z-index: 99;
            .bn-item {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 4px;
                border-radius: 10px;
                background-color: white;
                // background: url(../../src/images/indexSprit.png) no-repeat -26px -100px;
            }
            .show {
                background-color: $commoncolor;
            }
        }
        .sidebar {
            width: 816px;
            height: 122px;
            // background-color: white;
            position: absolute;
            left: 50%;
            bottom: 8px;
            transform: translate(-50%, 0);
            .sideshow {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                li {
                    width: 202px;
                    height: 100%;
                    background-color: white;
                    position: relative;
                    .title {
                        font-size: 12px;
                        padding: 0;
                        width: 95px;
                        height: 22px;
                        line-height: 22px;
                        font-weight: bold;
                        font-size: 17px;
                        word-break: break-all;
                        margin: 10px 0 0 12px;
                    }
                    .desc {
                        font-size: 12px;
                        padding: 0;
                        width: 95px;
                        height: 19px;
                        line-height: 19px;
                        font-size: 14px;
                        word-break: break-all;
                        color: #666;
                        margin: 1px 0 0 12px;
                    }
                    img {
                        color: #333;
                        position: absolute;
                        bottom: 6px;
                        width: 80px;
                        height: 80px;
                        right: 10px;
                    }
                }
            }
        }
        .banner {
            width: 6640px;
            height: 100%;
            display: flex;
            position: absolute;
            left: 0;
            top: 0;
            li {
                width: 830px;
                height: 100%;
            }
        }
    }
    .bannermid {
        .leftArrow {
            color: #333;
            position: absolute;
            width: 30px;
            height: 64px;
            top: 180px;
            background: url(../../src/images/indexSprit.png) no-repeat -82px -145px;
            left: 0;
            display: none;
            z-index: 99;
        }
        .rightArrow {
            color: #333;
            position: absolute;
            width: 30px;
            height: 64px;
            top: 180px;
            background: url(../../src/images/indexSprit.png) no-repeat -120px -145px;
            right: 0;
            display: none;
            z-index: 99;
        }
    }
    .userBox {
        width: 170px;
        height: 100%;
        background: white;
        // background-color: lightgreen;
        .userinfo {
            width: 100%;
            height: 156px;
            padding-top: 11px;
            border-bottom: 1px solid #f2f2f2;
            display: flex;
            flex-direction: column;
            align-items: center;
            .userimg {
                width: 52px;
                height: 52px;
                background: url(../../src/images/indexSprit.png) no-repeat -90px -24px;
            }
            p {
                margin-top: 8px;
                text-align: center;
                font-size: 12px;
                height: 24px;
                line-height: 24px;
            }
            .newvip {
                color: #333;
                width: 100%;
                margin: 6px auto 15px;
                height: 22px;
                display: flex;
                justify-content: space-evenly;
            }
            .award {
                width: 100%;
                height: 18px;
                margin-top: 5px;
                display: flex;
                justify-content: space-evenly;
            }
        }
        .toutiao {
            width: 150px;
            height: 144px;
            overflow: hidden;
            margin: 11px 10px;
            ul {
                li {
                    height: 48px;
                    a {
                        color: #333;
                        font-size: 12px;
                        &:hover {
                            color: $commoncolor;
                        }
                        span {
                            color: $commoncolor;
                        }
                    }
                }
            }
        }
        .kuaijie {
            background-color: #f2f2f2;
            width: 100%;
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    width: 56px;
                    height: 62px;
                    background-color: white;
                    padding-top: 10px;
                    margin-top: 1px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .iconfont {
                        color: $commoncolor;
                        font-size: 24px;
                    }
                    a {
                        margin-top: 10px;
                        font-size: 12px;
                        color: #333333;
                    }
                    &:hover a {
                        color: $commoncolor;
                    }
                }
            }
        }
    }
}