@charset 'utf-8';
@import 'compass/reset';
@import 'compass/css3';

a {
    text-decoration: none;
}
li {
    list-style: none;
}
%clearfix {
    &:after {
        content: '.';
        display: block;
        overflow: hidden;
        visibility: hidden;
        clear: both;
    }
}
// $wrapwidth:1425px;
$innerwidth:1190px;
$commoncolor:#f90;
// $positionleft:($wrapwidth - $innerwidth)/2;
$navheight:38px;
$mainheight1:565px;
$mainheight2:455px;

@mixin positionA($left:0,$top:0) {
    position: absolute;
    left: $left;
    top: $top;
}

@import "header";
@import "nav";
@import "banner";
@import "nianhuo"
