/* line 13, ../sass/top.scss */
#login {
  width: 100%;
  box-sizing: border-box;
  height: 35px;
  font-size: 12px;
  background-color: #f5f5f5;
  border: 1px solid #eeeeee;
  position: relative;
}
/* line 21, ../sass/top.scss */
#login .loginIn {
  width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* line 26, ../sass/top.scss */
#login .loginIn .webguide {
  line-height: 35px;
  height: 100%;
  display: flex;
}
/* line 31, ../sass/top.scss */
#login .loginIn .userlogin {
  height: 100%;
}
/* line 34, ../sass/top.scss */
#login .loginIn .web-itema {
  display: block;
  color: #666666;
  padding: 0 10px;
}

/* line 43, ../sass/top.scss */
#login .webitem {
  position: relative;
}
/* line 45, ../sass/top.scss */
#login .webitem:hover .webhide {
  height: auto;
  padding: 20px 20px;
  top: 33px;
  border: 1px solid #eee;
  border-top: none;
}
/* line 52, ../sass/top.scss */
#login .webitem .web-itema {
  position: relative;
  box-sizing: border-box;
}
/* line 56, ../sass/top.scss */
#login .webitem .web-itema:hover {
  margin-top: -1px;
  border: 1px solid #eee;
  border-bottom: none;
  background-color: white;
  height: 34px;
  color: #f90;
  padding: 0 9px;
}
/* line 65, ../sass/top.scss */
#login .webitem .web-itema:hover .iconfont {
  transform: rotateZ(-180deg);
}

/* line 72, ../sass/top.scss */
.webitem .webhide {
  position: absolute;
  transition: all 0.3s;
  left: 0;
  top: 32px;
  width: 176px;
  height: 0;
  padding: 0 20px;
  z-index: 99;
  background-color: white;
  overflow: hidden;
}
/* line 83, ../sass/top.scss */
.webitem .webhide .webhide-title {
  color: #333;
  font-weight: bold;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
}
/* line 90, ../sass/top.scss */
.webitem .webhide .webhide-content {
  display: flex;
  flex-wrap: wrap;
}
/* line 94, ../sass/top.scss */
.webitem .webhide .webhide-content li:hover a {
  color: #f90;
}
/* line 97, ../sass/top.scss */
.webitem .webhide .webhide-content li a {
  display: block;
  text-align: left;
  color: #333;
  height: 25px;
  width: 78px;
  font-size: 12px;
  line-height: 25px;
}

/* line 111, ../sass/top.scss */
#login .city {
  display: block;
  padding: 6px 6px;
  height: 23px;
  line-height: 23px;
  display: flex;
  position: relative;
}
/* line 122, ../sass/top.scss */
#login .city i {
  margin: 4px 6px 0;
  width: 12px;
  height: 15px;
  background: url(../../src/images/indexSprit.png) -387px -183px;
}
/* line 128, ../sass/top.scss */
#login .city em {
  color: #666;
  margin-right: 5px;
}
/* line 132, ../sass/top.scss */
#login .city .arrowdown {
  width: 8px;
  height: 6px;
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
  overflow: hidden;
}
/* line 140, ../sass/top.scss */
#login .city .arrowdown .arrowbox {
  display: block;
  border-width: 6px 4px;
  border-color: #666 transparent #FA0;
  position: absolute;
  left: 0;
  top: 0;
  border-style: solid;
  transition: all 0.5s;
}

/* line 155, ../sass/top.scss */
#login .userlogin {
  display: flex;
}
/* line 157, ../sass/top.scss */
#login .userlogin div {
  height: 100%;
  line-height: 35px;
}
/* line 162, ../sass/top.scss */
#login .userlogin .loginReg a {
  display: inline-block;
}

/* line 169, ../sass/top.scss */
#search {
  height: 110px;
  background-color: white;
}
/* line 172, ../sass/top.scss */
#search .suningBox {
  width: 1190px;
  margin: 0 auto;
  display: flex;
}
/* line 177, ../sass/top.scss */
#search .suningBox .snlogo img {
  width: 190px;
  height: 90px;
}
/* line 183, ../sass/top.scss */
#search .suningBox .twinkle img {
  width: 160px;
  height: 100px;
}
/* line 188, ../sass/top.scss */
#search .suningBox .searchBoxL {
  width: 540px;
  height: 63px;
  padding: 30px;
  margin-left: 10px;
}
/* line 196, ../sass/top.scss */
#search .searchBoxL .searchBoxS {
  width: 536px;
  height: 36px;
  border: 2px solid #f90;
  display: flex;
  position: relative;
}
/* line 202, ../sass/top.scss */
#search .searchBoxL .searchBoxS .iconfont {
  text-align: right;
  font-size: 15px;
  width: 25px;
  height: 36px;
  line-height: 36px;
}
/* line 209, ../sass/top.scss */
#search .searchBoxL .searchBoxS .textinput {
  box-sizing: border-box;
  border: none;
  width: 390px;
  height: 36px;
  outline: none;
}
/* line 216, ../sass/top.scss */
#search .searchBoxL .searchBoxS .searchinput {
  font-size: 18px;
  outline: none;
  border: none;
  font-weight: bold;
  width: 120px;
  height: 40px;
  color: white;
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: #f90;
}

/* line 235, ../sass/top.scss */
.searchBoxL .searchlink {
  margin-top: 5px;
  display: flex;
}
/* line 241, ../sass/top.scss */
.searchBoxL .searchlink a {
  color: #999;
  font-size: 12px;
  font-weight: 400;
}
/* line 245, ../sass/top.scss */
.searchBoxL .searchlink a:hover {
  color: #f90;
}
/* line 249, ../sass/top.scss */
.searchBoxL .searchlink span {
  color: #eee;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 300;
}
