/* line 12, ../sass/login.scss */
header {
  width: 970px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 20, ../sass/login.scss */
header a img {
  width: 189px;
  height: 100px;
}
/* line 25, ../sass/login.scss */
header p {
  color: #333;
  background: #fefff1;
  border: 1px solid #fecd66;
  line-height: 16px;
  padding: 4px 6px;
  font-size: 12px;
}

/* line 35, ../sass/login.scss */
section {
  width: 100%;
  background: url(https://image.suning.cn/uimg/cms/img/157900454746023629.jpg) no-repeat center;
}
/* line 38, ../sass/login.scss */
section div {
  width: 970px;
  height: 570px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* line 44, ../sass/login.scss */
section div a {
  width: 570px;
  height: 570px;
}
/* line 48, ../sass/login.scss */
section div form {
  width: 360px;
  background-color: #fff;
  margin-top: 50px;
}

/* line 56, ../sass/login.scss */
form {
  overflow: hidden;
  height: 400px;
  border-radius: 4px;
}
/* line 60, ../sass/login.scss */
form .formp1 {
  border-bottom: 1px solid #cccccc;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
/* line 67, ../sass/login.scss */
form .formp1 a {
  width: 179px;
  height: 100%;
  color: #333;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  line-height: 50px;
}
/* line 76, ../sass/login.scss */
form .formp1 span {
  color: #cccccc;
}
/* line 80, ../sass/login.scss */
form .username {
  height: 36px;
  width: 310px;
  margin: 0 auto;
  outline: 0;
  display: block;
  line-height: 36px;
  padding: 0 10px 0 10px;
  border: 1px solid #999999;
  font-size: 14px;
  margin-bottom: 30px;
}
/* line 92, ../sass/login.scss */
form .password {
  height: 36px;
  width: 310px;
  margin: 0 auto;
  outline: 0;
  display: block;
  line-height: 36px;
  padding: 0 10px 0 10px;
  border: 1px solid #999999;
  font-size: 14px;
  margin-bottom: 30px;
}
/* line 104, ../sass/login.scss */
form .btn {
  height: 40px;
  outline: 0;
  display: block;
  width: 310px;
  margin: 0 auto 20px;
  background: #f60;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
/* line 117, ../sass/login.scss */
form .formp2 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 120, ../sass/login.scss */
form .formp2 a {
  color: #333;
  font-size: 12px;
}
/* line 125, ../sass/login.scss */
form .formp3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ccc;
  font-size: 14px;
}
/* line 131, ../sass/login.scss */
form .formp3 span {
  width: 90px;
  height: 1px;
  background-color: #ccc;
}
/* line 137, ../sass/login.scss */
form .formp4 {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 53px;
}
/* line 142, ../sass/login.scss */
form .formp4 a {
  color: #999;
  font-size: 12px;
  height: 16px;
  text-align: center;
}
/* line 148, ../sass/login.scss */
form .formp4 span {
  color: #999999;
  font-size: 12px;
  margin: 0 10px;
}
