/* line 5, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/register.scss */
a {
  text-decoration: none;
}

/* line 8, ../sass/register.scss */
li {
  list-style: none;
}

/* line 13, ../sass/register.scss */
header {
  width: 990px;
  height: 88px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* line 20, ../sass/register.scss */
header .logo img {
  display: block;
  width: 190px;
  height: 88px;
}
/* line 26, ../sass/register.scss */
header .tologin {
  height: 18px;
  font-size: 12px;
  margin-top: 63px;
  color: #333;
}

/* line 34, ../sass/register.scss */
section {
  width: 990px;
  margin: 0 auto;
  padding: 55px 0;
  border: 1px solid #ddd;
  border-top: 3px solid #ff9900;
}
/* line 40, ../sass/register.scss */
section p {
  width: 378px;
  height: 38px;
  border: 1px solid #ccc;
  line-height: 38px;
  margin: 0 auto 25px;
  display: flex;
  position: relative;
}
/* line 48, ../sass/register.scss */
section p em {
  position: absolute;
  top: 40px;
  left: 0px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
}
/* line 55, ../sass/register.scss */
section p em i {
  display: flex;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  align-items: center;
}
/* line 61, ../sass/register.scss */
section p em i b {
  margin: 0 2px;
}
/* line 67, ../sass/register.scss */
section .password {
  margin-bottom: 60px;
}
/* line 70, ../sass/register.scss */
section .btn {
  width: 378px;
  height: 38px;
  border: 1px solid #ccc;
  display: block;
  line-height: 38px;
  margin: 0 auto 25px;
  outline: none;
  background-color: #ff9900;
  text-align: center;
  color: white;
  font-size: 20px;
}
/* line 83, ../sass/register.scss */
section label {
  width: 87px;
  display: inline-block;
  height: 100%;
  line-height: 38px;
  font-size: 12px;
  color: #222;
  text-align: right;
}
/* line 92, ../sass/register.scss */
section .user,
section .pass {
  width: 291px;
  height: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
}
/* line 100, ../sass/register.scss */
section .testnum {
  display: flex;
  position: relative;
}
/* line 103, ../sass/register.scss */
section .testnum .test {
  width: 142px;
  box-sizing: border-box;
  border: none;
  outline: none;
}
/* line 109, ../sass/register.scss */
section .testnum span {
  width: 150px;
  height: 38px;
  position: absolute;
  right: -1px;
  top: -1px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 10px;
}
