/* line 5, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/top.scss */
a {
  text-decoration: none;
}

/* line 8, ../sass/top.scss */
li {
  list-style: none;
}

/* line 15, ../sass/top.scss */
#login {
  width: 100%;
  box-sizing: border-box;
  height: 35px;
  font-size: 12px;
  background-color: #f5f5f5;
  border: 1px solid #eeeeee;
  position: relative;
}
/* line 23, ../sass/top.scss */
#login .loginIn {
  width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* line 28, ../sass/top.scss */
#login .loginIn .webguide {
  line-height: 35px;
  height: 100%;
  display: flex;
}
/* line 33, ../sass/top.scss */
#login .loginIn .userlogin {
  height: 100%;
}
/* line 36, ../sass/top.scss */
#login .loginIn .web-itema {
  display: block;
  color: #666666;
  padding: 0 10px;
}

/* line 45, ../sass/top.scss */
#login .webitem {
  position: relative;
}
/* line 47, ../sass/top.scss */
#login .webitem:hover .webhide {
  height: auto;
  padding: 20px 20px;
  top: 33px;
  border: 1px solid #eee;
  border-top: none;
}
/* line 54, ../sass/top.scss */
#login .webitem .web-itema {
  position: relative;
  box-sizing: border-box;
}
/* line 58, ../sass/top.scss */
#login .webitem .web-itema:hover {
  margin-top: -1px;
  border: 1px solid #eee;
  border-bottom: none;
  background-color: white;
  height: 34px;
  color: #f90;
  padding: 0 9px;
}
/* line 67, ../sass/top.scss */
#login .webitem .web-itema:hover .iconfont {
  transform: rotateZ(-180deg);
}

/* line 74, ../sass/top.scss */
.webitem .webhide {
  position: absolute;
  transition: all 0.3s;
  left: 0;
  top: 32px;
  width: 176px;
  height: 0;
  padding: 0 20px;
  z-index: 99;
  background-color: white;
  overflow: hidden;
}
/* line 85, ../sass/top.scss */
.webitem .webhide .webhide-title {
  color: #333;
  font-weight: bold;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
}
/* line 92, ../sass/top.scss */
.webitem .webhide .webhide-content {
  display: flex;
  flex-wrap: wrap;
}
/* line 96, ../sass/top.scss */
.webitem .webhide .webhide-content li:hover a {
  color: #f90;
}
/* line 99, ../sass/top.scss */
.webitem .webhide .webhide-content li a {
  display: block;
  text-align: left;
  color: #333;
  height: 25px;
  width: 78px;
  font-size: 12px;
  line-height: 25px;
}

/* line 113, ../sass/top.scss */
#login .city {
  display: block;
  padding: 6px 6px;
  height: 23px;
  line-height: 23px;
  display: flex;
  position: relative;
}
/* line 124, ../sass/top.scss */
#login .city i {
  margin: 4px 6px 0;
  width: 12px;
  height: 15px;
  background: url(../../src/images/indexSprit.png) -387px -183px;
}
/* line 130, ../sass/top.scss */
#login .city em {
  color: #666;
  margin-right: 5px;
}
/* line 134, ../sass/top.scss */
#login .city .arrowdown {
  width: 8px;
  height: 6px;
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
  overflow: hidden;
}
/* line 142, ../sass/top.scss */
#login .city .arrowdown .arrowbox {
  display: block;
  border-width: 6px 4px;
  border-color: #666 transparent #FA0;
  position: absolute;
  left: 0;
  top: 0;
  border-style: solid;
  transition: all 0.5s;
}

/* line 157, ../sass/top.scss */
#login .userlogin {
  display: flex;
}
/* line 159, ../sass/top.scss */
#login .userlogin div {
  height: 100%;
  line-height: 35px;
}
/* line 164, ../sass/top.scss */
#login .userlogin .loginReg a {
  display: inline-block;
}

/* line 171, ../sass/top.scss */
#search {
  height: 110px;
  background-color: white;
}
/* line 174, ../sass/top.scss */
#search .suningBox {
  width: 1190px;
  margin: 0 auto;
  display: flex;
}
/* line 179, ../sass/top.scss */
#search .suningBox .snlogo img {
  width: 190px;
  height: 90px;
}
/* line 185, ../sass/top.scss */
#search .suningBox .twinkle img {
  width: 160px;
  height: 100px;
}
/* line 190, ../sass/top.scss */
#search .suningBox .searchBoxL {
  width: 540px;
  height: 63px;
  padding: 30px;
  margin-left: 10px;
}
/* line 198, ../sass/top.scss */
#search .searchBoxL .searchBoxS {
  width: 536px;
  height: 36px;
  border: 2px solid #f90;
  display: flex;
  position: relative;
}
/* line 204, ../sass/top.scss */
#search .searchBoxL .searchBoxS .iconfont {
  text-align: right;
  font-size: 15px;
  width: 25px;
  height: 36px;
  line-height: 36px;
}
/* line 211, ../sass/top.scss */
#search .searchBoxL .searchBoxS .textinput {
  box-sizing: border-box;
  border: none;
  width: 390px;
  height: 36px;
  outline: none;
}
/* line 218, ../sass/top.scss */
#search .searchBoxL .searchBoxS .searchinput {
  font-size: 18px;
  outline: none;
  border: none;
  font-weight: bold;
  width: 120px;
  height: 40px;
  color: white;
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: #f90;
}

/* line 237, ../sass/top.scss */
.searchBoxL .searchlink {
  margin-top: 5px;
  display: flex;
}
/* line 243, ../sass/top.scss */
.searchBoxL .searchlink a {
  color: #999;
  font-size: 12px;
  font-weight: 400;
}
/* line 247, ../sass/top.scss */
.searchBoxL .searchlink a:hover {
  color: #f90;
}
/* line 251, ../sass/top.scss */
.searchBoxL .searchlink span {
  color: #eee;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 300;
}
